.userSidebar{
    width:235px;
    height:100vh;
    margin-left:113px;
    border-right: 1px solid #e6ecf0;
}

.logo{
    margin:20px 0 55px 0;
}

.navList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.navItem{
    display: flex;
    
   /* align-items: center; */
   background-color: white;
   border: none;
   margin-bottom: 30px;
}

.navItem:last-child{
    margin-top: 520px;
}

.navIcon{
    margin-right: 20px;
}


.tweetButton{
    width: 210px;
    height: 45px;
    border-radius: 100px;
    background-color: #ff6600;
    border: none;
    line-height: 40px;
  }

.tweetButton p {
    color:#fff
}