.messageBtn {
  all: unset;
  cursor: pointer;
}

.replyModalContainer {
  .replyModalTweet {
    padding: 16px 24px 16px 16px;
    display: flex;
  }

  .tweetInfo {
    padding-left: 10px;

    .infoTop {
      padding-bottom: 6px;
      line-height: 22px;

      .infoTopPrime {
        font-weight: 700;
        padding-right: 5px;
      }

      .infoTopSec {
        color: #657786;
      }
    }

    .infoContent {
      min-height: 96px;
      padding-bottom: 18px;
    }

    .tweetReplyToSec {
      color: #657786;
    }

    .tweetReplyToPrime {
      color: #ff6600;
    }
  }

  .inputContainer {
    padding: 16px 24px 24px 16px;
    display: flex;

    .inputContent {
      outline: none;
      border: none;
      resize: none;
      width: 100%;
      padding-left: 10px;
      padding-top: 12px;
    }
  }

  .dash {
    display: block;
    width: 2px;
    height: 70%;
    flex: 1;
    margin: 16px 0 0px 24px;
    background-color: #ccd6dd;
  }

  .inputWarning {
    color: #fc5a5a;
    font-size: 15px;
  }
}

.modal-header {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #e6ecf0;

  h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
  }
}
