.container {
  padding: 16px 21px 0px 16px;
  border-left: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
  border-bottom: 1px solid #e6ecf0;

  .avatarContainer {
    padding-right: 8px;
  }
  .userName {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
  }
  .userAccount {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #6c757d;
  }
  .infoContent {
    min-height: 188px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    padding-right: 24px;
    padding-bottom: 8px;
  }
  .time {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #6c757d;
    padding-bottom: 8px;
    border-bottom: 1px solid #e6ecf0;
  }
  .count {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e6ecf0;
  }
  .countNum {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    padding-right: 4px;
  }
  .countTitle {
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    color: #6c757d;
    padding-right: 36px;
  }
  .iconContainer {
    display: flex;
    gap: 128px;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 0;
    button {
      border: none;
      background-color: transparent;
    }
  }
}

.spinner {
  min-height: 40px;
}
