nav {
  position: relative;
  height: 100vh;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  a {
    text-decoration: none;
  }
  p {
    color: #44444f;
    margin-bottom: 0;
  }
}

.logout {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  p {
    color: #44444f;

    font-weight: bold;
    margin-bottom: 0;
  }
}
