.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e6ecf0;
}

.container {
  margin-top: 16px;
  background: #fafafb;
  border-radius: 16px;
  position: relative;
}
