.tweet-header {
  strong {
    line-height: 26px;
  }
}

.tweet-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 72px;
}

.tweet-footer {
  font-size: 14px;
  line-height: 1;
}
