//textCount style
.area {
  .footer {
    display: flex;
    justify-content: space-between;
  }
}

//Default
.AuthInput {
  display: flex;
  flex-direction: column;
  label {
    background-color: #f5f8fa;
    padding: 5px 10px 0 10px;
    font-size: 15px;
    color: #657786;
  }
  input {
    all: unset;
    background-color: #f5f8fa;
    padding: 0 10px 0 10px;
    border-bottom: 2px solid #657786;
  }
}

//Hover & Focus
.area {
  .AuthInput {
    input:hover,
    input:focus {
      border-bottom: 2px solid #50b5ff;
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    p:last-child {
      opacity: 0;
      color: #657786;
    }
  }
  input:focus ~ .footer > p:last-child {
    opacity: 1;
  }
}

//Error
.error {
  .AuthInput {
    label {
      color: #fc5a5a;
    }
    input:hover,
    input:focus {
      border-bottom: 2px solid #fc5a5a;
    }
  }
  input {
    border-bottom: 2px solid #fc5a5a;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    p:first-child {
      color: #fc5a5a;
    }
  }
}
