//textCount style
.area {
  .footer {
    display: flex;
    justify-content: space-between;
  }
}

//Default
.AuthInput {
  display: flex;
  flex-direction: column;
  label {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    background-color: #f5f8fa;
    padding: 5px 10px 0 10px;
    font-size: 14px;
    line-height: 26px;
    color: #696974;
  }
  input {
    border: none;
    outline: none;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #f5f8fa;
    padding: 0 10px 0 10px;
    border-bottom: 2px solid #657786;
    &::placeholder {
      color: #b5b5be;
      line-height: 26px;
    }
  }
}

//Hover & Focus
.area {
  .AuthInput {
    input:hover,
    input:focus {
      border-bottom: 2px solid #50b5ff;
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    small:last-child {
      opacity: 0;
      color: #657786;
    }
  }
  input:focus ~ .footer > small:last-child {
    opacity: 1;
  }
}

//Error
.error {
  .AuthInput {
    label {
      color: #fc5a5a;
    }
    input:hover,
    input:focus {
      border-bottom: 2px solid #fc5a5a;
    }
  }
  input {
    border-bottom: 2px solid #fc5a5a;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    p:first-child {
      color: #fc5a5a;
    }
  }
}
