@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  border-right: 1px solid #e6ecf0;
  border-left: 1px solid #e6ecf0;
  padding: 24px 16px;
  @media screen and (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
